<%- include ('partials/header.ejs') %>
    <h1>Página de Clientes</h1>
    <hr>

    <h2>Lista de Clientes: </h2>

    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Endereco</th>
            </tr>
        </thead>
        <tbody>
            <% clientes.forEach(cliente => { %>
                <tr>
                    <td><%=cliente.nome%></td>
                    <td><%=cliente.CPF%></td>
                    <td><%=cliente.endereco%></td>
                </tr>
            <% }); %>
        </tbody>
    </table>

    <br>
    <a href="/"><< Voltar a HomePage</a>
<%- include ('partials/footer.ejs') %>